body{
  background-image: url("IMAGES/tumblr_stars.gif");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: auto;
  height: 100%; /* this is the first height call, every other following "100%" will fit seamlessly to the body's 100%. */
}
.content{
  height: inherit;
}
.centre{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: right;
  width: 180px;
}
div.gallery:hover {
  border: 1px solid #777;
}
div.gallery img {
  width: 100%;
  height: auto;
}
div.desc {
  padding: 5px;
  text-align: center;
}
header{
  /* margin-top: 165px; */
  color: white;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  font-family: helvetica;
  position: relative;
  z-index: 3;
}
.midText{
  background-color: rgba(51, 255, 255, 0.404);
  display: block;
  border: 2px solid rgb(25, 181, 181);
  border-radius: 5px;
  padding: 5px;
}
p{
  color: white;
  margin-top: 15px;
  display: block;
  text-align: justify;
  font-family: helvetica;
  position: relative;
  z-index: 2;
}
.copy{
  color: white;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  font-family: helvetica;
  position: relative;
  z-index: 2;
}
.column {
  float: left;
  width: 33.33%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
footer{
  display: block;
  background-color: brown;
}
.footerelem{
  margin-bottom: 25px;
  position: relative;
}

  