body{
  background-color: rgb(115, 115, 115);
  height: 100%; /* this is the first height call, every other following "100%" will fit seamlessly to the body's 100%. */
}
.svgelem{
  /* margin-left being 29%, right idea but wrong element. */
   /* margin-left: 29%; */
   /* margin-right: auto; */
   display: block;
   position: absolute;
   z-index: 1;
}
.content{
  height: inherit;
}
.centre{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
