body{
  background-image: url("IMAGES/assets/tumblr_stars.gif");
  background-repeat: repeat;
  background-attachment: scroll;
  background-size: auto;
  height: 100%; /* this is the first height call, every other following "100%" will fit seamlessly to the body's 100%. */
}
.content{
  height: 100%;
}
.centre{
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  width: fit-content;
}
div.homeGallery {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
div.gallery {
  margin: 1px;
  display: inherit;
  position: relative;
  width: auto;
  height: 1fr;
}
@media screen and (max-width:700px) {
  div.homeGallery {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
  }
}
div.gallery p {
  position: relative;
  text-align: center;
  width: fit-content;
  margin: auto;
  padding-left: 2px;
  padding-right: 2px;
  background-color: rgba(255, 0, 68, 0.737);
  border: 2px;
  border-color: rgb(204, 0, 95);
  border-radius: 5px;
  z-index: 1;
  pointer-events: none;
}
.artfolButton {
  background: url("IMAGES/ARTFOLIO23/Clairebear1.png");
  width: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.artfolButton:hover {
  filter: blur(5px);
  transition: 0.5s;
  transition-timing-function: linear;
}
.sonfolButton {
  background: url("IMAGES/ARTFOLIO21/YASFUNK.png");
  display: block;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.sonfolButton:hover {
  filter: blur(5px);
  transition: 0.5s;
  transition-timing-function: linear;
}
.photofolButton {
  background: url("IMAGES/PHOTOFOLIO21/DSC06418.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.photofolButton:hover {
  filter: blur(5px);
  transition: 0.5s;
  transition-timing-function: linear;
}
.midText{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
}

.copy{
  color: white;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 5px;
  display: inline;
  text-align: right;
  font-family: helvetica;
  position: relative;
  z-index: 2;
}
.portraitRow {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
@media screen and (max-width: 700px) {
  .copy {
    width: 1fr;
    text-align: center;
  }
}
header.copy {
  margin: 0px;
}
.inlinePortrait {
  display: inline;
  width: 100%;
  height: 100%;
  max-height: 400px;
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
  float: right;
  object-fit: cover;
  object-position: center;
  border-radius: 0px 5px 5px 0px;
}
@media screen and (max-width: 700px) {
  .portraitRow {
    grid-template-columns: 1fr;
  }
  .inlinePortrait{
    float:none;
    width: 100%;
    border-radius: 0px 0px 5px 5px;
  }
}
.teal{
  background-color: rgba(51, 255, 255, 0.404);
  display: block;
  border: 2px solid rgb(25, 181, 181);
  border-radius: 5px;
  padding: 5px;
} 
.redPink{
  background-color: rgba(255, 0, 68, 0.404);
  display: block;
  border: 2px solid rgb(204, 0, 95);
  border-radius: 5px;
  padding: 5px;
}
.lightOrange{
  background-color: rgba(255, 153, 0, 0.404);
  display: block;
  border: 2px solid rgb(204, 126, 0);
  border-radius: 5px;
  padding: 5px;
}

.column1 {
  float: left;
  width: 31%;
  margin-left: 1%;
  margin-right: 1%;
  height: auto;
}
.column2 {
  float: left;
  width: 64%;
  margin-left: 1%;
  margin-right: 1%;
  height: auto;
}
.tripleCol {
  float: left;
  width: 30%;
  margin-left: 20px;
  margin-right: 1%;
  height: auto;
}
.tightCol {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (max-width: 700px) {
  .tightCol {
    display: flex;
    align-self: center;
    justify-self: center;
    flex-direction: column;
  }
}
.tightCol a {
  width: inherit;
  align-self: center;
  justify-self: center;
}
.tightCol a p {
  display: grid;
  text-decoration: none;
  text-align: center;
  backdrop-filter: invert(30%);
  border-radius: 5px;
  margin-top: auto;
  margin-bottom: 0px;
  color: black;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.frenchButton {
  border-radius: 25px;
  background: url("IMAGES/assets/frFlag.png");
  background-size: cover;
  background-position: center;
  padding: 20px;
  width: 200px;
  height: 20px;
  margin: 10px;
  text-decoration: none;
  color: black;
}
.englishButton {
  border-radius: 25px;
  background: url("IMAGES/assets/enFlag.png");
  background-size: cover;
  background-position: center;
  padding: 20px;
  width: 200px;
  height: 20px;
  margin: 10px;
  text-decoration: none;
}
.chineseButton {
  border-radius: 25px;
  background: url("IMAGES/assets/zhFlag.jpeg");
  background-size: cover;
  background-position: left top; /* chinese flag has detail in top left so align it as such */
  padding: 20px;
  width: 200px;
  height: 20px;
  margin: 10px;
  text-decoration: none;
}
footer{
  display: block;
  padding: 5px;
  margin: 10px;
  position: fixed;
  bottom: 1%;
  left: 1%;
  background-color: rgba(0,0,0,0.5);
  border-radius: 5px;
}

.rowMummy {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  align-self: center;
}
.rowMummy:after {
  content: "";
  clear: both;
  display: table;
}
.homeRow {
  width: 100%
}
@media screen and (max-width: 700px) {
  .rowMummy {
    grid-template-columns: 1fr;
    width: 65%;
  }
}
footer ul {
  list-style-type: none;
  margin: 1px;
  padding: 1px;
  
  float: left;
  overflow: hidden;
}
footer li {
  display: inline-block;
  width: auto;
  margin-left: 3px;
}
footer li a {
  color: whitesmoke;
  text-decoration: none;
}
footer li a:hover {
  color: #9e9e9e;
}
